:root {
    --bulma-primary-h: 281deg;
    --bulma-primary-s: 81.8%;
    --bulma-primary-l: 84.9%;
}

.app {
    font-family: monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: rgb(228, 185, 248);
}

.title {
    font-size: 3em;
    text-align: center;
    padding: 0.25em;
    color: black;
    width: 100vw;
}

h1 {
    font-size: 4em;
    padding: 2em;
}

h2 {
    font-size: 3em;
}

.bio {
    font-size: 2em;
    text-align: center;
}

.inline {
    display: inline;
}

.buttons {
    margin: 15px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

@media(min-width: 1024px) {
    .container {
        width: 140ch;
    }
}